[submodule ".i3/i3lock-fancy"]
	path = .i3/i3lock-fancy
	url = https://github.com/meskarune/i3lock-fancy
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/miguelvalerio/prezto.git
[submodule ".Xresources.d/gruvbox-contrib"]
	path = .Xresources.d/gruvbox-contrib
	url = https://github.com/morhetz/gruvbox-contrib
