[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/miguelvalerio/prezto.git
    branch = master
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/camflint/base16-shell
    branch = camflint/fixnord
