!Colors
*background: #282828
*foreground: #ebdbb2
! Black + DarkGrey
*color0: #282828
*color8: #928374
! DarkRed + Red
*color1: #cc241d
*color9: #fb4934
! DarkGreen + Green
*color2: #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3: #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4: #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5: #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6: #689d6a
*color14: #8ec07c
! LightGrey + White
*color7: #a89984
*color15: #ebdbb2

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

#define FONT1 xft:source code pro for powerline:regular:pixelsize=13:antialias=true:hinting=true, xft:Meslo\ LG\ M\ for\ Powerline:pixelsize=15, xft:Font Awesome:regular:pixelsize=13:antialias=true:hinting=true
#define FONT2 xft:source code pro for powerline:semibold:pixelsize=13:antialias=true:hinting=true, xft:Meslo\ LG\ M\ for\ Powerline:semibold:pixelsize=15, xft:Font Awesome:regular:pixelsize=13:antialias=true:hinting=true

! Xft settings
Xft.dpi:                96
Xft.antialias:          1
Xft.autohint:           0
Xft.hinting:            1
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

!URxvt settings
URxvt.internalBorder:           10
URxvt.buffered:                 false
URxvt.saveLines:                12000
URxvt.scrollBar:                false
URxvt.depth:                    0
URxvt.perl-ext-common:          vtwheel,default,clipboard,matcher,resize-font
URxvt.url-launcher:             /usr/bin/xdg-open
URxvt.matcher.button:           1
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.iso14755:                 False
URxvt.termName:                 rxvt-unicode-256color
URxvt.font:                     FONT1
URxvt.boldFont:                 FONT2

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! Rofi
rofi.opacity:           90
rofi.width:             30
rofi.lines:             5
rofi.font:              Source Code Pro 9
rofi.separator-style:   none
rofi.hide-scrollbar:    true
rofi.padding:           20
rofi.eh:                2
rofi.bw:                8
rofi.bc:                #458588