*background: #282828
*foreground: #ebdbb2
! Black + DarkGrey
*color0: #282828
*color8: #928374
! DarkRed + Red
*color1: #cc241d
*color9: #fb4934
! DarkGreen + Green
*color2: #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3: #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4: #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5: #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6: #689d6a
*color14: #8ec07c
! LightGrey + White
*color7: #a89984
*color15: #ebdbb2

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1
!
! -----------------------------------------------------------------------------
! File: gruvbox-light.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! ! hard contrast: *background: #f9f5d7
! *background: #fbf1c7
! ! soft contrast: *background: #f2e5bc
! *foreground: #3c3836
! ! Black + DarkGrey
! *color0:  #fdf4c1
! *color8:  #928374
! ! DarkRed + Red
! *color1:  #cc241d
! *color9:  #9d0006
! ! DarkGreen + Green
! *color2:  #98971a
! *color10: #79740e
! ! DarkYellow + Yellow
! *color3:  #d79921
! *color11: #b57614
! ! DarkBlue + Blue
! *color4:  #458588
! *color12: #076678
! ! DarkMagenta + Magenta
! *color5:  #b16286
! *color13: #8f3f71
! ! DarkCyan + Cyan
! *color6:  #689d6a
! *color14: #427b58
! ! LightGrey + White
! *color7:  #7c6f64
! *color15: #3c3836

! ! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! ! Copyright (c) 2016-present Sven Greb <code@svengreb.de>
! 
! ! Project:    Nord XResources
! ! Version:    0.1.0
! ! Repository: https://github.com/arcticicestudio/nord-xresources
! ! License:    MIT
! 
! #define nord0 #2E3440
! #define nord1 #3B4252
! #define nord2 #434C5E
! #define nord3 #4C566A
! #define nord4 #D8DEE9
! #define nord5 #E5E9F0
! #define nord6 #ECEFF4
! #define nord7 #8FBCBB
! #define nord8 #88C0D0
! #define nord9 #81A1C1
! #define nord10 #5E81AC
! #define nord11 #BF616A
! #define nord12 #D08770
! #define nord13 #EBCB8B
! #define nord14 #A3BE8C
! #define nord15 #B48EAD
! 
! *foreground:   nord4
! *background:   nord0
! *.cursorColor:  nord4
! ! *fading: 35
! ! *fadeColor: nord3
! 
! *color0: nord1
! *color1: nord11
! *color2: nord14
! *color3: nord13
! *color4: nord9
! *color5: nord15
! *color6: nord8
! *color7: nord5
! *color8: nord3
! *color9: nord11
! *color10: nord14
! *color11: nord13
! *color12: nord9
! *color13: nord15
! *color14: nord7
! *color15: nord6

! Xft settings
Xft.dpi:                96
Xft.antialias:          true
Xft.autohint:           false
Xft.hinting:            fale
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

!URxvt settings
URxvt.internalBorder:           10
URxvt.buffered:                 true
URxvt.saveLines:                12000
URxvt.scrollBar:                false
URxvt.depth:                    32
URxvt.url-launcher:             /usr/bin/xdg-open
URxvt.matcher.button:           1
URxvt.iso14755:                 False
URxvt.termName:                 rxvt-unicode-256color
URxvt.font:                     xft:source code pro for powerline:semibold:pixelsize=15:antialias=true:hinting=true, xft:SauceCodePro\ Nerd\ Font\ Mono:regular:pixelsize=13:antialias:false, xft:Font Awesome:regular:pixelsize=13:antialias=true:hinting=true
URxvt.boldFont:                 xft:source code pro for powerline:bold:pixelsize=15:antialias=true:hinting=true, xft:Font Awesome:regular:pixelsize=13:antialias=true:hinting=true
URxvt.perl-ext-common:          default,clipboard,url-select,keyboard-select,selection-to-clipboard,resize-font
URxvt.url-select.launcher:      chromium
URxvt.url-select.underline:     true
URxvt.keysym.M-u:               perl:url-select:select_next
URxvt.keysym.M-Escape:          perl:keyboard-select:activate
URxvt.keysym.M-s:               perl:keyboard-select:search
URxvt.transparent: false

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up

! Rofi
rofi.opacity:           90
rofi.width:             30
rofi.lines:             5
rofi.font:              Source Code Pro 9
rofi.separator-style:   none
rofi.hide-scrollbar:    true
rofi.padding:           20
rofi.eh:                2
rofi.bw:                8
rofi.bc:                #458588
